# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files
.idea
**/*.iml
out
gen
log
**/target

application-local.yml
/allure-results/

/local-generate/

*databaseLog

.flattened-pom.xml

spy.log
/business-core-api/src/test/java/com/tengnat/dwork/modules/basic_data/service/BuTest.java
